@model IEnumerable<PageCreator.Models.Pages>
@{
    ViewData["Title"] = "Home";
}


<div>
    @foreach (var item in Model)
    {
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <div class="box">
                    <div class="columns">
                        <div class="column is-narrow">
                            <a class="subtitle is-4">
                                @item.Title
                            </a>
                        </div>
                        <div class="column"></div>
                        <div class="column is-narrow">
                            <div class="tabs is-toggle">
                                <ul>
                                    @if(item.Access == "public")
                                    {
                                        <li class="is-active">
                                            <a>
                                                <span>Public</span>
                                            </a>
                                        </li>
                                        <li >
                                            <a>
                                                <span>Private</span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a>
                                                <span>Public</span>
                                            </a>
                                        </li>
                                        <li class="is-active">
                                            <a>
                                                <span>Private</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="column is-narrow">
                            <button class="button is-info is-outlined">Edit</button>
                        </div>
                        <div class="column is-narrow">
                            <button class="button is-danger is-outlined">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <button class="button is-success is-outlined" style="margin: 0; width: 100%">Create</button>
        </div>
    </div>
</div>
